.blog_post {
  display: grid;
  padding: 5px;
}

.blog_post h1 {
  margin: 0;
}

.blog_post figure.image {
  width: 80%;
  justify-content: center;
  display: grid;
  margin: 0;
  padding: 0;
}

.blog_post figure.image img {
  width: 100%;
  padding: 7px;
  border: 1px solid #fff;
}

figcaption {
  background: #fff;
  font-family: "Gloria Hallelujah", cursive;
  padding: 5px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
