html {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

/* --- VARIABLES --- */

body {
  --mint-green: #7fe0b0;
  --dark-blue: #343a91;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ddd;
}

#header {
  padding: 10px;
  background: linear-gradient(90deg, var(--mint-green), var(--dark-blue));
}

#header h1 {
  color: #fff;
  font-size: 5em;
  font-weight: normal;
  font-family: "Satisfy", cursive;
  text-align: center;
  margin: 0;
  padding: 5px;
  border: solid #fff;
  border-width: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0, 0, 5px, 0;
}

p.buttonArea {
  text-align: center;
}

.item {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #f7f7f7;
}

#main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
}

.blog_post {
  display: grid;
  padding: 5px;
}

.blog_post h1 {
  margin: 0;
}

.blog_post figure.image {
  width: 80%;
  justify-content: center;
  display: grid;
  margin: 0;
  padding: 0;
}

.blog_post figure.image img {
  width: 100%;
  padding: 7px;
  border: 1px solid #fff;
}

figcaption {
  background: #fff;
  font-family: "Gloria Hallelujah", cursive;
  padding: 5px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
