html {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

/* --- VARIABLES --- */

body {
  --light-mint: #7fe0b0;
  --dark-mint: #39ad73;
  --dark-blue: #343a91;
  --light-blue: #5668d1;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ddd;
}

#header {
  padding: 10px;
  background: linear-gradient(90deg, var(--light-mint), var(--dark-blue));
}

#header h1 {
  color: #fff;
  font-size: 5em;
  font-weight: normal;
  font-family: "Satisfy", cursive;
  text-align: center;
  margin: 0;
  padding: 5px;
  border: solid #fff;
  border-width: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0, 0, 5px, 0;
}

#main {
  display: grid;
  grid-template-columns: 1fr;
  background: #fff;
  padding: 10px;
  margin: 10px;
}

#main a,
#main a:active,
#main a:visited {
  text-decoration: none;
  color: var(--dark-blue);
  border-bottom: 1px dotted var(--light-mint);
}

#main a:hover {
  color: var(--light-blue);
  border-bottom: 1px dotted var(--dark-mint);
}
